In [22]:
# Tuple

tp=(1, 2, 3)
print(tp)

tp=(1) # complete change allow 
print(tp)

tp[0]=2 # immutable - partial change not allow

(1, 2, 3)
1

TypeError: 'int' object does not support item assignment

In [23]:
# empty tuple

tp=()
type(tp)

tuple

In [31]:
# DICT

#mutable

dic={1:10, 2:"happy", "happy": 3} # key:value
print(dic)
print(dic["happy"])

dic2={} #{} dic type only
type(dic2)

dic3=dict([(1, 10), (2, "happy"), ("happy", 3)]) # another way of dec dic
print(dic3)

{1: 10, 2: 'happy', 'happy': 3}
3
{1: 10, 2: 'happy', 'happy': 3}

In [38]:
# Set

# immutable - no duplicate data

sete=set([1, 2, 3])
print(sete, type(sete))

sete={1, 2, 3} #another way of dec set
print(sete, type(sete))

sete=set() # for empty
print(type(sete))

{1, 2, 3} <class 'set'>
{1, 2, 3} <class 'set'>
<class 'set'>

In [3]:
# remove multiple elements from list

arr=list(map(int, input("Enter any list: \n").split()))
myset=set(arr)
print("Unique elements are: ", myset)

print(list(myset)) # conversion again into list

Enter any list:
1 2 3 1 2 3 12 3 3 2 1 2 32 1 1 1 1
Unique elements are:  {32, 1, 2, 3, 12}
[32, 1, 2, 3, 12]

In [13]:
# Set - common operation

myset={1, 2, 3, 4, 5}
print(myset)

myset.update({4, 5, 6}) #add multiple element in set
print(myset)

myset.add(7) #add single element in set
print(myset)

myset.remove(7)
print(myset)
myset.discard(6)
print(myset)

myset.pop()
print(myset)

myset.discard(100) # no error for non-existantial item
myset.remove(100) # error for non-existantial item

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{2, 3, 4, 5}

KeyError: 100

In [17]:
# Set - imp function

myset1={1, 2, 3, 4, 5}
myset2={1, 3, 5}

myset3=myset1 | myset2 #union method 1
print(myset3)

myset3=myset1.union(myset2) #union method 1
print(myset3)

myset3= myset1 & myset2 # intersection method 1
print(myset3)

myset3= myset1.intersection(myset2) # intersection method 2
print(myset3)

myset3= myset1 - myset2 # not in myset2
print(myset3)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 3, 5}
{1, 3, 5}
{2, 4}

In [29]:
# Dict - Operation

dic={"name": "Rishabh", "Age":25, "class": "Mtech"}

a=dic["class"] # access element
print(a)

a=dic.get("class") # access element
print(a)

print(dic.keys()) #give keys
print(dic.values()) #give values
dic.pop("class") #pop
dic.popitem() #pop last item
print(dic)

Mtech
Mtech
dict_keys(['name', 'Age', 'class'])
dict_values(['Rishabh', 25, 'Mtech'])
{'name': 'Rishabh'}

In [3]:
# Bool Datatype

a=[True, True, False, True]
print(all(a)) # true only if all true
print(any(a)) # true if any one true

#check zero or not

a=[1, 2, 0]

False
True